@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background-color: #232323;
}

.page {
  height: full;
  width: full;
}
p {
  text-align: justify;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;     /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari и Opera */
}